ALGORIDMA-BACKEND.json
{
  "name": "ALGORIDMA-BACKEND",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ijse-algo-ridma/buy",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        816
      ],
      "id": "147021eb-0bd8-4b32-ba9a-629d5cb20b20",
      "name": "Webhook1",
      "webhookId": "0f5f1bdf-5bd2-4825-8423-867ac11ec8de"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload?key=7cafcde9170e30c181b1ffdebc2f1c57",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "value": "={{ $json.body.bankSlip.replace(/^data:image\\/[a-zA-Z0-9+.-]+;base64,/, '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        816
      ],
      "id": "a73266c0-52ba-4801-bb85-b50ab051b1db",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDn2QRvdLQbvmKk",
          "mode": "list",
          "cachedResultName": "ALGO-TICKETS-DB",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk"
        },
        "table": {
          "__rl": true,
          "value": "tbl1OwqxzDjELvPSf",
          "mode": "list",
          "cachedResultName": "ticket_buyers",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk/tbl1OwqxzDjELvPSf"
        },
        "filterByFormula": "=IF(\n  LOWER({email}) = LOWER(\"{{ $('Webhook1').item.json.body.email }}\"),\n  {email},\n  BLANK()\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        512,
        816
      ],
      "id": "c048d85e-fc1f-4459-8256-5199d785564a",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "7FvsxFIK3xNHf5Oe",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d08d97b1-ec6a-4fbe-9a2b-c4e2e03fac66",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        816
      ],
      "id": "16a0573f-66e2-4b27-9df1-01550245dad8",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"false\",\n  \"msg\":\"The user has already purchased a ticket.\",\n  \"data\":[]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1056,
        992
      ],
      "id": "ddd4fa4b-ed33-402f-8876-10e154aa302b",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"true\",\n  \"msg\":\"Your ticket has been reserved\",\n  \"data\":[]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        752
      ],
      "id": "673b2e00-8952-4dc7-a97f-3dbfd7276870",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ijse-algo-ridma/my-tickets",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        1360
      ],
      "id": "1351ac51-0c49-47ed-bcaf-cb398edf8f83",
      "name": "ticket/watch",
      "webhookId": "0f5f1bdf-5bd2-4825-8423-867ac11ec8de"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDn2QRvdLQbvmKk",
          "mode": "list",
          "cachedResultName": "ALGO-TICKETS-DB",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk"
        },
        "table": {
          "__rl": true,
          "value": "tbl1OwqxzDjELvPSf",
          "mode": "list",
          "cachedResultName": "ticket_buyers",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk/tbl1OwqxzDjELvPSf"
        },
        "filterByFormula": "=IF(SEARCH(\"{{ $('ticket/watch').item.json.body.email }}\", {email}), {email}, BLANK())",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        1360
      ],
      "id": "780d263a-fecf-4d91-8e9d-59c05e91bc67",
      "name": "Search records1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "7FvsxFIK3xNHf5Oe",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d08d97b1-ec6a-4fbe-9a2b-c4e2e03fac66",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        1360
      ],
      "id": "1e7074f2-dd20-4a8e-af47-a7fb3eed0dc2",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"false\",\n  \"msg\":\"The user has not purchased a ticket.\",\n  \"data\":[]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        784,
        1536
      ],
      "id": "34bead19-10d5-4ed4-ab97-78711043c519",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": \"true\",\n  \"msg\":\"Your ticket Details\",\n  \"data\":{\n    \"name\":\"{{ $('Search records1').item.json.name }}\",\n    \"id\":\"{{ $('Search records1').item.json.id }}\",\n    \"qr_url\":\"https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ $('Search records1').item.json.id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1232,
        1248
      ],
      "id": "a2c29e60-208d-42ff-a1cf-7694a6d7cd3f",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55d5cfc7-d4e1-4dfa-9314-04d2a5bb249e",
              "leftValue": "={{ $json.is_verified }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        1264
      ],
      "id": "4512ccb7-920b-4576-aaff-af0f37a025e5",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"false\",\n  \"msg\":\"Ticket verification is pending.\",\n  \"data\":[]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        1344
      ],
      "id": "f867e763-f8b5-4156-adf3-d31f2ee725df",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appDn2QRvdLQbvmKk",
          "mode": "list",
          "cachedResultName": "ALGO-TICKETS-DB",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk"
        },
        "table": {
          "__rl": true,
          "value": "tbl1OwqxzDjELvPSf",
          "mode": "list",
          "cachedResultName": "ticket_buyers",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk/tbl1OwqxzDjELvPSf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Webhook1').item.json.body.name }}",
            "email": "={{ $('Webhook1').item.json.body.email }}",
            "batch": "={{ $('Webhook1').item.json.body.batch }}",
            "prize": 1000,
            "is_verified": false,
            "Attachments": "={{ $('HTTP Request1').item.json.data.display_url }}",
            "type": "web",
            "ref_name": "no",
            "is_ticket_send_via_email": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "batch",
              "displayName": "batch",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prize",
              "displayName": "prize",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_verified",
              "displayName": "is_verified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ref_name",
              "displayName": "ref_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_ticket_send_via_email",
              "displayName": "is_ticket_send_via_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1056,
        752
      ],
      "id": "65b3a7a2-83d1-4bc1-898e-272c9e014abb",
      "name": "Create a record",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "7FvsxFIK3xNHf5Oe",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ijse-algo-ridma/buy/ref",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        304
      ],
      "id": "8e65fff3-f969-449b-83d4-6c875361f645",
      "name": "Webhook",
      "webhookId": "0f5f1bdf-5bd2-4825-8423-867ac11ec8de"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDn2QRvdLQbvmKk",
          "mode": "list",
          "cachedResultName": "ALGO-TICKETS-DB",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk"
        },
        "table": {
          "__rl": true,
          "value": "tbl1OwqxzDjELvPSf",
          "mode": "list",
          "cachedResultName": "ticket_buyers",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk/tbl1OwqxzDjELvPSf"
        },
        "filterByFormula": "=IF(\n  LOWER({email}) = LOWER(\"{{ $('Webhook').item.json.body.email }}\"),\n  {email},\n  BLANK()\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        432,
        304
      ],
      "id": "e0ffdd84-a3cf-4258-b051-fdf3990f9287",
      "name": "Search records2",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "7FvsxFIK3xNHf5Oe",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d08d97b1-ec6a-4fbe-9a2b-c4e2e03fac66",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        304
      ],
      "id": "6338b485-c688-4ef5-82dd-f50c1b3cb200",
      "name": "If3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"false\",\n  \"msg\":\"The user has already purchased a ticket.\",\n  \"data\":[]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1056,
        480
      ],
      "id": "b0dce87a-5a82-46b5-9a63-d66255dcd268",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": \"true\",\n  \"msg\":\"Your ticket has been reserved\",\n  \"data\":{\n    \"id\":\"{{ $json.id }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        240
      ],
      "id": "6283dfd8-6924-4f2b-ab1c-b24c6a9e4160",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appDn2QRvdLQbvmKk",
          "mode": "list",
          "cachedResultName": "ALGO-TICKETS-DB",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk"
        },
        "table": {
          "__rl": true,
          "value": "tbl1OwqxzDjELvPSf",
          "mode": "list",
          "cachedResultName": "ticket_buyers",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk/tbl1OwqxzDjELvPSf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Webhook').item.json.body.name }}",
            "email": "={{ $('Webhook').item.json.body.email }}",
            "batch": "={{ $('Webhook').item.json.body.batch }}",
            "prize": 1000,
            "is_verified": false,
            "Attachments": "=",
            "type": "ref",
            "ref_name": "={{ $('Webhook').item.json.body['ref-name'] }}",
            "is_ticket_send_via_email": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "batch",
              "displayName": "batch",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prize",
              "displayName": "prize",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_verified",
              "displayName": "is_verified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ref_name",
              "displayName": "ref_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_ticket_send_via_email",
              "displayName": "is_ticket_send_via_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1056,
        240
      ],
      "id": "1a491d06-7bc1-4100-807e-809bbb08e2e9",
      "name": "Create a record1",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "7FvsxFIK3xNHf5Oe",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "ijse-algo-ridma/buy/ref/delete/:delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        -48
      ],
      "id": "3d14f2a8-255d-4859-b1ce-b4b5c0a7751a",
      "name": "delete-ref",
      "webhookId": "0f5f1bdf-5bd2-4825-8423-867ac11ec8de"
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appDn2QRvdLQbvmKk",
          "mode": "list",
          "cachedResultName": "ALGO-TICKETS-DB",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk"
        },
        "table": {
          "__rl": true,
          "value": "tbl1OwqxzDjELvPSf",
          "mode": "list",
          "cachedResultName": "ticket_buyers",
          "cachedResultUrl": "https://airtable.com/appDn2QRvdLQbvmKk/tbl1OwqxzDjELvPSf"
        },
        "id": "={{ $json.params.delete }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        432,
        -48
      ],
      "id": "1d6c8311-da6d-4252-bbdf-0d20befbde1c",
      "name": "Delete a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "7FvsxFIK3xNHf5Oe",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "algoridma.ijsc.sc@gmail.com",
        "toEmail": "={{ $('Webhook1').item.json.body.email}}",
        "subject": "✨ALGORIDMA",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Ticket Verification Pending</title>\n</head>\n\n<body style=\"margin:0; padding:0; background:#05080c; font-family:Arial, Helvetica, sans-serif;\">\n\n  <!-- HERO SECTION WITH BACKGROUND IMAGE -->\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n         background=\"https://i.ibb.co/0VVxTgxQ/Whats-App-Image-2026-02-19-at-12-38-32.jpg\"\n         style=\"background:#05080c url('https://i.ibb.co/0VVxTgxQ/Whats-App-Image-2026-02-19-at-12-38-32.jpg') center/cover no-repeat;\">\n    <tr>\n      <td align=\"center\" style=\"padding:100px 20px 80px 20px; background:rgba(5,8,12,0.75);\">\n\n        <!-- Event Title -->\n        <h1 style=\"margin:0; color:#ffc107; font-size:52px; letter-spacing:2px;\">\n          ALGORIDMA\n        </h1>\n\n        <p style=\"margin:10px 0 30px 0; color:#d6dde6; font-size:20px;\">\n          Ticket Verification in Progress\n        </p>\n\n        <!-- Message -->\n        <p style=\"max-width:620px; margin:0 auto; color:#f1f5f9; font-size:18px; line-height:1.7;\">\n          Your ticket request has been successfully received and is currently\n          being verified by our team.\n          Once approved, your official ticket will be sent immediately.\n        </p>\n\n      </td>\n    </tr>\n  </table>\n\n  <!-- ACTION SECTION -->\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n         style=\"background:#05080c;\">\n    <tr>\n      <td align=\"center\" style=\"padding:60px 20px;\">\n\n        <p style=\"max-width:600px; margin:0 auto 30px auto; color:#c7d0d9; font-size:17px;\">\n          Verification usually takes a short time.  \n          You will receive another email once your ticket is approved.\n        </p>\n\n        <!-- Button -->\n        <a href=\"https://algoridma-ijse.freeddns.org/my-tickets\"\n           style=\"display:inline-block;\n                  background:#ffc107;\n                  color:#05080c;\n                  padding:16px 36px;\n                  text-decoration:none;\n                  font-weight:bold;\n                  border-radius:0px;\n                  font-size:16px;\">\n          Check Status\n        </a>\n\n      </td>\n    </tr>\n  </table>\n\n  <!-- FOOTER -->\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n         style=\"background:#0b0f14;\">\n    <tr>\n      <td align=\"center\"\n          style=\"padding:25px 20px; color:#7d8894; font-size:13px;\">\n\n        Please do not reply to this email.<br>\n        © 2026 ALGORIDMA Event Team\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1504,
        752
      ],
      "id": "cca379c8-676d-4f3e-ac8f-6ba15b637fa7",
      "name": "Send email",
      "webhookId": "ae7eee25-6114-4c99-98e9-f9f20ffaebb3",
      "credentials": {
        "smtp": {
          "id": "fEv9jlSxZeE0P8mG",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": \"true\",\n  \"msg\":\"Your ticket has been deleted\",\n  \"data\":{\n  \"id\":\"{{ $json.id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        -48
      ],
      "id": "3656bbed-6c30-451a-a887-03596385b746",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "fromEmail": "algoridma.ijsc.sc@gmail.com",
        "toEmail": "={{ $('Webhook').item.json.body.email}}",
        "subject": "✨ALGORIDMA",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Ticket Verification Pending</title>\n</head>\n\n<body style=\"margin:0; padding:0; background:#05080c; font-family:Arial, Helvetica, sans-serif;\">\n\n  <!-- HERO SECTION WITH BACKGROUND IMAGE -->\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n         background=\"https://i.ibb.co/0VVxTgxQ/Whats-App-Image-2026-02-19-at-12-38-32.jpg\"\n         style=\"background:#05080c url('https://i.ibb.co/0VVxTgxQ/Whats-App-Image-2026-02-19-at-12-38-32.jpg') center/cover no-repeat;\">\n    <tr>\n      <td align=\"center\" style=\"padding:100px 20px 80px 20px; background:rgba(5,8,12,0.75);\">\n\n        <!-- Event Title -->\n        <h1 style=\"margin:0; color:#ffc107; font-size:52px; letter-spacing:2px;\">\n          ALGORIDMA\n        </h1>\n\n        <p style=\"margin:10px 0 30px 0; color:#d6dde6; font-size:20px;\">\n          Ticket Verification in Progress\n        </p>\n\n        <!-- Message -->\n        <p style=\"max-width:620px; margin:0 auto; color:#f1f5f9; font-size:18px; line-height:1.7;\">\n          Your ticket request has been successfully received and is currently\n          being verified by our team.\n          Once approved, your official ticket will be sent immediately.\n        </p>\n\n      </td>\n    </tr>\n  </table>\n\n  <!-- ACTION SECTION -->\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n         style=\"background:#05080c;\">\n    <tr>\n      <td align=\"center\" style=\"padding:60px 20px;\">\n\n        <p style=\"max-width:600px; margin:0 auto 30px auto; color:#c7d0d9; font-size:17px;\">\n          Verification usually takes a short time.  \n          You will receive another email once your ticket is approved.\n        </p>\n\n        <!-- Button -->\n        <a href=\"https://algoridma-ijse.freeddns.org/my-tickets\"\n           style=\"display:inline-block;\n                  background:#ffc107;\n                  color:#05080c;\n                  padding:16px 36px;\n                  text-decoration:none;\n                  font-weight:bold;\n                  border-radius:0px;\n                  font-size:16px;\">\n          Check Status\n        </a>\n\n      </td>\n    </tr>\n  </table>\n\n  <!-- FOOTER -->\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n         style=\"background:#0b0f14;\">\n    <tr>\n      <td align=\"center\"\n          style=\"padding:25px 20px; color:#7d8894; font-size:13px;\">\n\n        Please do not reply to this email.<br>\n        © 2026 ALGORIDMA Event Team\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1488,
        240
      ],
      "id": "ee770ac5-72d0-4f15-a43e-dddeff80a1a8",
      "name": "Send email1",
      "webhookId": "ae7eee25-6114-4c99-98e9-f9f20ffaebb3",
      "credentials": {
        "smtp": {
          "id": "fEv9jlSxZeE0P8mG",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ticket/watch": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record1": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete-ref": {
      "main": [
        [
          {
            "node": "Delete a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a record": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook7": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f0e7bb69-37cb-47ff-bb76-acc338f75d1d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26bae6c937ff6673c032a799b3627e0ed86ff05d7c3b97dd51ee02f1c7ff0bdb"
  },
  "id": "h1V4NU8ECQR-330VNaw9j",
  "tags": []
}